@import "/global";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: $WIDTH_THRESHOLD) {
    grid-template-columns: 1fr;
  }

  .card {
    display: flex;
    place-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: $CARD_RADIUS;
    margin: $CARD_SPACE_BETWEEN;
    font-family: 'makinas', monospace;
    font-size: $CARD_FONT_SIZE;
    background-color: $CARD_COLOR;

    a {
      padding: 1rem;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 90%;
      height: auto;
    }

    .deviceName {
      margin: .5rem auto;
      font-size: $CARD_DEVICE_FONT_SIZE;
      text-align: center;

      &.online {
        color: lawngreen;
      }

      &.offline {
        color: $OFFLINE_COLOR;
      }
    }

    .cardInfo {
      color: white;
      margin: .5rem auto;
      text-align: center;

      > p {
        margin: .5rem auto;
      }
    }

    .circleDesc {
      margin-top: .3rem;
      color: white;
      width: 100%;
      display: flex;
      justify-content: space-around;

      p {
        width: $CIRCLE_SIZE;
        text-align: center;
      }
    }

    .circles {
      height: $CIRCLE_SIZE;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
