//COLOR
$TOPBAR_COLOR: black;
$BACKGROUND_COLOR: #00001a;
$CARD_COLOR: rgb(21, 22, 58);
$ONLINE_COLOR: lightgreen;
$OFFLINE_COLOR: gray;
$CONTROL_PLACEHOLDER_IN_COLOR: indianred;
$CONTROL_PLACEHOLDER_OUT_COLOR: lightgray;
$CONTROL_BUTTON_COLOR:#2B2D2F;
$CONTROL_BUTTON_TEXT_COLOR: #71DFBE;
$CONTROL_BUTTON_FIN_COLOR: #71DFBE;
$CONTROL_BUTTON_CHECK_COLOR: #FFF;

//DESIGN SIZE
$TOPBAR_HEIGHT: 12vh;
$TOPBAR_SIDE_PADDING: 3vw;
$MARGIN_AROUND: 1rem;
$CARD_SPACE_BETWEEN: 1rem;
$CARD_RADIUS: 1rem;
$CIRCLE_SIZE: 8rem;
$CIRCLE_THICKNESS: 0.8rem;
$MENU_WIDTH: 8rem;
$INFO_CARD_PADDING: 1.5rem;
$INFO_CARD_SPACE_BETWEEN: .5rem;
$INFO_DEVICE_NAME_SIZE: 3rem;
$INFO_MARGIN_TITLE: .5rem;
$CONTROL_BUTTON_HEIGHT: 4rem;
$CONTROL_BUTTON_WIDTH: 12rem;
$CONTROL_PRGBAR_WIDTH: 20rem;
$CONTROL_PRGBAR_HEIGHT: 1rem;
$CONTROL_PRGBAR_RAD: 10rem;
$CONTROL_FORM_SPACE: 3rem;
$CONTROL_FORM_WIDTH: 75%;
$CONTROL_BUTTON_FIN_DIA: 5rem;

//FONT SIZE
$CARD_FONT_SIZE: 1.5rem;
$CARD_DEVICE_FONT_SIZE: 3rem;
$CIRCLE_FONT_SIZE: 1.5rem;
$MENU_FONT_SIZE: 1rem;
$INFO_FONT_SIZE: 1.5rem;
$INFO_LOG_FONT_SIZE: 1.5rem;
$CONTROL_FONT_SIZE: 1.5rem;

//THRESHOLD
$WIDTH_THRESHOLD: 600px;

//TIME
$CONTROL_BUTTON_BEFORE_SHOOTING: .8s;
$CONTROL_BUTTON_RESTART: .5s;
$CONTROL_BUTTON_SHOOTING: 6s;

//FOR SMARTPHONE
$MOBILE_MENU_HEIGHT: 10vh;
$MOBILE_INFO_FONT_SMALL: 0.8rem;
$MOBILE_INFO_FONT_BIG: 1.5rem;
