//COLOR
$TOPBAR_COLOR: black;
$BACKGROUND_COLOR: #00001a;
$CARD_COLOR: rgb(21, 22, 58);
$ONLINE_COLOR: lightgreen;
$OFFLINE_COLOR: gray;
$CONTROL_PLACEHOLDER_IN_COLOR: gray;
$CONTROL_PLACEHOLDER_OUT_COLOR: lightgray;

//SIZE
$TOPBAR_HEIGHT: 12vh;
$TOPBAR_SIDE_PADDING: 3vw;
$CARD_FONT_SIZE: 1.5rem;
$CARD_DEVICE_FONT_SIZE: 2rem;
$CARD_SPACE_BETWEEN: 1rem;
$CARD_RADIUS: 1rem;
$CIRCLE_SIZE: 7rem;
$CIRCLE_FONT_SIZE: 1.5rem;
$CIRCLE_THICKNESS: 0.8rem;
$MENU_FONT_SIZE: 1rem;
$INFO_FONT_SIZE: 1.5rem;
$CONTROL_FONT_SIZE: 1.5rem;

//THRESHOLD
$WIDTH_THRESHOLD: 600px;