@import "/global";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: $WIDTH_THRESHOLD) {
    grid-template-columns: 1fr;
  }

  .card {
    display: flex;
    place-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: $CARD_RADIUS;
    margin: $CARD_SPACE_BETWEEN;
    font-family: 'BIZ UDPMincho', monospace;
    font-size: $CARD_FONT_SIZE;
    background-color: $CARD_COLOR;

    a {
      padding: 1rem;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 90%;
      height: auto;
    }

    .deviceName {
      margin: .5rem auto;
      font-size: $CARD_DEVICE_FONT_SIZE;
      text-align: center;

      &.online {
        color: lawngreen;
      }

      &.offline {
        color: $OFFLINE_COLOR;
      }
    }

    .info {
      color: white;
      margin: .5rem auto;
      text-align: center;
      >p {
        margin: .5rem auto;
      }
    }

    .circleDesc {
      color: white;
      width: 100%;
      display: flex;
      justify-content: space-around;

      p {
        width: $CIRCLE_SIZE;
        text-align: center;
      }
    }

    .circles {
      height: $CIRCLE_SIZE;
      width: 100%;
      display: flex;
      justify-content: space-around;

      .circleGraph {
        position: relative;
        display: flex;
        top: 0;
        width: $CIRCLE_SIZE;
        border-radius: 50%;

        .insideCircle {
          width: $CIRCLE_SIZE - $CIRCLE_THICKNESS;
          height: $CIRCLE_SIZE - $CIRCLE_THICKNESS;
          border-radius: 50%;
          background: $CARD_COLOR;
          line-height: $CIRCLE_SIZE - $CIRCLE_THICKNESS;
          text-align: center;
          margin-top: $CIRCLE_THICKNESS / 2;
          margin-left: $CIRCLE_THICKNESS / 2;
          position: absolute;
          z-index: 5;
          font-size: $CIRCLE_FONT_SIZE;

        }

        .circle {
          .mask, .fill {
            width: $CIRCLE_SIZE;
            height: $CIRCLE_SIZE;
            position: absolute;
            border-radius: 50%;
          }

          .mask {
            clip: rect(0, $CIRCLE_SIZE, $CIRCLE_SIZE, $CIRCLE_SIZE / 2);

            .fill {
              clip: rect(0, $CIRCLE_SIZE / 2, $CIRCLE_SIZE, 0);

              &.lev0 {
                background-color: #6c98ea;
              }

              &.lev1 {
                background-color: #d7a15c;
              }

              &.lev2 {
                background-color: #ff6a00;
              }
            }
          }

          .mask.full, .fill {
            animation: fill ease-in-out 1.5s forwards;
            transform: rotate(0);
          }

          @keyframes fill {
            from {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }
}
