@import "/global";

.detailView {

  display: flex;
  flex-direction: row;

  .menu {
    z-index: 100;
    background-color: black;
    position: fixed;
    height: calc(100vh - #{$TOPBAR_HEIGHT});
    width: $MENU_WIDTH;
    @media (max-width: $WIDTH_THRESHOLD) {
      height: $MOBILE_MENU_HEIGHT;
      width: 100vw;
    }

    ul {
      margin: 0 2vw;
      display: flex;
      height: 100vh - $TOPBAR_HEIGHT;
      list-style: none;
      padding: 0;
      text-align: center;
      flex-direction: column;
      font-size: $MENU_FONT_SIZE;
      font-family: "Nova Mono", monospace;
      justify-content: space-evenly;

      @media (max-width: $WIDTH_THRESHOLD) {
        height: $MOBILE_MENU_HEIGHT;
        flex-direction: row;
        justify-content: space-evenly;
      }

      li {
        .link {
          color: white;
          p {
            font-size: $MENU_FONT_SIZE;
          }

          .icon {
            font-size: 2rem;
          }

          &.selectedMenu {
            color: lightblue;
          }
        }
      }
    }
  }
}