@import '/global';


.circleGraph {
  position: relative;
  display: flex;
  top: 0;
  width: $CIRCLE_SIZE;
  border-radius: 50%;

  .insideCircle {
    width: $CIRCLE_SIZE - $CIRCLE_THICKNESS;
    height: $CIRCLE_SIZE - $CIRCLE_THICKNESS;
    border-radius: 50%;
    background: $CARD_COLOR;
    line-height: $CIRCLE_SIZE - $CIRCLE_THICKNESS;
    text-align: center;
    margin-top: $CIRCLE_THICKNESS / 2;
    margin-left: $CIRCLE_THICKNESS / 2;
    position: absolute;
    z-index: 5;
    font-size: $CIRCLE_FONT_SIZE;

  }

  .circle {
    .mask, .fill {
      width: $CIRCLE_SIZE;
      height: $CIRCLE_SIZE;
      position: absolute;
      border-radius: 50%;
    }

    .mask {
      clip: rect(0, $CIRCLE_SIZE, $CIRCLE_SIZE, $CIRCLE_SIZE / 2);

      .fill {
        clip: rect(0, $CIRCLE_SIZE / 2, $CIRCLE_SIZE, 0);

        &.lev0 {
          background-color: #6c98ea;
        }

        &.lev1 {
          background-color: #d7a15c;
        }

        &.lev2 {
          background-color: #ff6a00;
        }
      }
    }

    .mask.full, .fill {
      animation: fill ease-in-out 1.5s forwards;
      transform: rotate(0);
    }

    @keyframes fill {
      from {
        transform: rotate(0deg);
      }
    }
  }
}
